networks:
  container-network:
    driver: bridge

services:
  postgres:
    image: postgres:latest
    container_name: container-postgres
    environment:
      POSTGRES_PASSWORD: 123
    ports:
      - "5433:5432"
    networks:
      - container-network
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: container-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: jgabriellima1067@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 123
    ports:
      - "5454:80"
    networks:
      - container-network
    restart: always

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - container-network

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: cooperativa-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - container-network
